body {
    background-color: rgb(231, 219, 243);
}

#heading {
    text-align: center;
    color: rgb(36, 54, 138);
    font-weight: 900;
}

#img {
    text-align: center;
    width: 250px;
    height: 200px;
    position: relative;
    right: -800px
}

#mid {
    background-color: rgba(45, 1, 150, 0.555);
    padding: 10px;
    color: white;
    line-height: 25px;
    /* margin: 10px; */
    /* border: 3px solid red; */
    width: 750px;
    position: relative;
    right: -500px;
    margin: 50px;
    border-radius: 10px;
}

#text {
    color: rgb(252, 230, 182);

}

#html-sum {
    position: relative;
    right: -40px;
}

#css-sum {
    position: relative;
    right: -40px;
}

#yellowtext {
    color: black;
    background-color: rgb(235, 235, 134);
}

#button {
    position: relative;
    right: -900px;
    border: 2px solid orange;
    background-color: orange;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

#date {
    position: relative;
    right: -920px;
}